- A dictionary in Python is a collection of key-value
    pairs, where:   
- keys are unique and immutable (string,numbers,tuple) 
- values can be of any data type(list,string,int,dict etc)
- Dict is unordered (before python3.7) but insertion-ordered(since python 3.7+)
- dict is mutuable 
- dict do not allow duplicate values

In [6]:
dt = {
    "name" : "ace",
    "age" : 10,
    "city" : "delhi",
    "city" : "mumbai"
}
print(dt)
print(type(dt))

{'name': 'ace', 'age': 10, 'city': 'mumbai'}
<class 'dict'>

In [7]:
dt = {
    1 : "ace",
    2 : 10,
    3 : "delhi",
    4 : "mumbai",
    (1,2,3) : "ace",
    (4,5): "hello"
}

In [ ]:
##dict constructor  --- one more way to create dictionary
dt = dict(name = "ace", age = 20 , city = "delhi")
dt

{'name': 'ace', 'age': 20, 'city': 'delhi'}

In [ ]:
#acccessing the dictionary
dt = {
    "name" : "ace",
    "age" : 10,
    "city" : "delhi",
    
}
# you can update the value of the dictionary by accessing 
dt["city"] = "jaipur"
print(dt)

{'name': 'ace', 'age': 10, 'city': 'jaipur'}

In [ ]:
##dict methods 
dt = {
    "name" : "ace",
    "age" : 10,
    "city" : "delhi"}
# dt.keys()
# dt.values()
# dt.items()
# dt.get("city")
# #pop will help you to remove the particular key
# dt.pop("city")
# del dt["city"]
# #popitem will help you to remove the last key
# dt.popitem()

# dt.update({"city":"jaipur","hobby":"cricket"})
# dt

{'name': 'ace', 'age': 10, 'city': 'jaipur', 'hobby': 'cricket'}

In [26]:
students = {
    "101" : {"name" : "ravi", "city" : "delhi"},
    "102" : {"name" : "ram", "city" : "jaipur"},
    "103" : {"name" : "shyam", "city" : "mumbai"}
}
students["102"]["city"]

'jaipur'

In [30]:
lst = [10,20,[30,40,[50,60],70],80,90]
lst[2][2][0] = 500
print(lst)

[10, 20, [30, 40, [500, 60], 70], 80, 90]